body{
    background-image: url(../imagens/livro.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    color: white;
    
}
/*#bordas{
	border:5px;
	border-radius: 50px;
	height: 90%;
	right: 10px;
	background-color: #4F4F4F;
	opacity: 0.7;
}*/
table{
	width: 50%;

}
#telinha{
	border: 9px;
	background: linear-gradient(black,gray,white);
	border-radius: 150px;
	width: 300px;
    height: 300px;
}
#img1{
	height: 200px;	
}
button{
	width: 100px;
	height: 60px;

}